In [76]:
import pandas as pd
import numpy as np

In [77]:
arquivo = pd.read_excel('Vendas.xlsx')
df = pd.DataFrame(arquivo)

In [78]:
df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [79]:
df.shape

(100999, 7)

In [80]:
#VERIFICANDO OS TIPOS DAS COLUNAS
df.dtypes

Código Venda               int64
Data              datetime64[ns]
ID Loja                   object
Produto                   object
Quantidade                 int64
Valor Unitário             int64
Valor Final                int64
dtype: object

In [81]:
#VERIFICANDO QTDE DE VALORES NULOS POR COLUNA
df.isnull().sum()

Código Venda      0
Data              0
ID Loja           0
Produto           0
Quantidade        0
Valor Unitário    0
Valor Final       0
dtype: int64

In [82]:
df.drop_duplicates()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [83]:
#REMOVER OS ESPAÇOS DOS NOMES DAS COLUNAS
df.columns = df.columns.str.strip()
df.columns

Index(['Código Venda', 'Data', 'ID Loja', 'Produto', 'Quantidade',
       'Valor Unitário', 'Valor Final'],
      dtype='object')

In [84]:
#Total Faturado e Qtde Total vendida
df['Valor Final'].sum() , df['Quantidade'].sum()

(41877063, 218688)

In [85]:
#Total faturado por Loja
df[['ID Loja', 'Valor Final']].groupby('ID Loja').sum().sort_values(by='Valor Final', ascending=False)

                                  Valor Final
ID Loja
Iguatemi Campinas                     1762419
Shopping Vila Velha                   1731167
Bourbon Shopping SP                   1726110
Rio Mar Recife                        1722766
Shopping SP Market                    1721763
Palladium Shopping Curitiba           1721120
Norte Shopping                        1711968
Ribeirão Shopping                     1707122
Iguatemi Esplanada                    1699681
Rio Mar Shopping Fortaleza            1698430
Shopping Center Leste Aricanduva      1682870
Novo Shopping Ribeirão Preto          1678225
Shopping Iguatemi Fortaleza           1674824
Center Shopping Uberlândia            1668921
Shopping União de Osasco              1663770
Shopping Barra                        1653103
Passei das Águas Shopping             1649014
Shopping Eldorado                     1648111
Salvador Shopping                     1646739
Shopping Center Interlagos            1640486
Shopping Ibirapuera                   1635060
Parque Dom Pedro Shopping             1631630
Shopping Recife                       1624879
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444

In [86]:
#Qtde Total Vendida por Loja
df[['ID Loja', 'Quantidade']].groupby('ID Loja').sum().sort_values(by='Quantidade', ascending= False)

                                  Quantidade
ID Loja
Shopping Vila Velha                     9224
Palladium Shopping Curitiba             9091
Norte Shopping                          9014
Shopping Center Leste Aricanduva        8938
Rio Mar Shopping Fortaleza              8937
Iguatemi Campinas                       8935
Shopping SP Market                      8927
Rio Mar Recife                          8863
Bourbon Shopping SP                     8863
Ribeirão Shopping                       8825
Novo Shopping Ribeirão Preto            8751
Shopping União de Osasco                8730
Shopping Ibirapuera                     8723
Shopping Eldorado                       8719
Salvador Shopping                       8698
Shopping Center Interlagos              8675
Shopping Barra                          8638
Shopping Iguatemi Fortaleza             8629
Center Shopping Uberlândia              8627
Passei das Águas Shopping               8618
Shopping Recife                         8581
Iguatemi Esplanada                      8580
Shopping Morumbi                        8508
Parque Dom Pedro Shopping               8388
Shopping Midway Mall                    8206

In [87]:
#ticket medio por loja
#to_frame = transformar em tabela
tk_f = (df[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()['Valor Final'] / df[['ID Loja', 'Quantidade']].groupby('ID Loja').sum()['Quantidade']).to_frame(name='Ticket Médio')
tk_f.sort_values(by='Ticket Médio', ascending=False)

                                  Ticket Médio
ID Loja
Iguatemi Esplanada                  198.098019
Iguatemi Campinas                   197.248909
Bourbon Shopping SP                 194.754598
Parque Dom Pedro Shopping           194.519552
Rio Mar Recife                      194.377299
Shopping Iguatemi Fortaleza         194.092479
Shopping Midway Mall                193.814404
Center Shopping Uberlândia          193.453228
Ribeirão Shopping                   193.441586
Shopping SP Market                  192.871401
Novo Shopping Ribeirão Preto        191.775226
Shopping Barra                      191.375666
Passei das Águas Shopping           191.345324
Shopping União de Osasco            190.580756
Rio Mar Shopping Fortaleza          190.044758
Norte Shopping                      189.923231
Shopping Recife                     189.357767
Salvador Shopping                   189.323868
Palladium Shopping Curitiba         189.321307
Shopping Center Interlagos          189.105014
Shopping Eldorado                   189.025232
Shopping Center Leste Aricanduva    188.282614
Shopping Vila Velha                 187.680724
Shopping Ibirapuera                 187.442394
Shopping Morumbi                    186.464974

In [88]:
#TOP 05 Produtos mais vendidos
df[['Produto', 'Quantidade']].groupby('Produto').sum().sort_values(by='Quantidade', ascending=False).head(5)

                  Quantidade
Produto
Bermuda Linho           2024
Mochila Liso            2013
Cueca                   1984
Casaco Liso             1976
Relógio Listrado        1951

In [89]:
#TOP 05 Produtos mais Faturados
df[['Produto', 'Valor Final']].groupby('Produto').sum().sort_values(by= 'Valor Final', ascending= False).head(5)

                Valor Final
Produto
Terno Listrado      1308814
Terno Linho         1305750
Terno Liso          1279440
Terno Xadrez        1240750
Terno Estampa       1237618

In [90]:
#ticket medio por produto
tk_p = (df[['Produto', 'Valor Final']].groupby('Produto').sum()['Valor Final']/df[['Produto', 'Quantidade']].groupby('Produto').sum()['Quantidade']).to_frame(name='Tk_Medio')
tk_p.sort_values(by= 'Tk_Medio', ascending= False)

                Tk_Medio
Produto
Terno Linho        750.0
Terno Liso         720.0
Terno Listrado     709.0
Terno Xadrez       709.0
Terno Estampa      706.0
...                  ...
Cueca               50.0
Meia Xadrez         41.0
Meia Liso           38.0
Meia Listrado       37.0
Meia                30.0

[120 rows x 1 columns]

In [96]:
#Correlação entre Qtde e Vl. Unit
df[['Quantidade', 'Valor Unitário']].corr()
#Correlação praticamente nula - Produtos de baixo valor com alta demanda.

                Quantidade  Valor Unitário
Quantidade        1.000000       -0.004366
Valor Unitário   -0.004366        1.000000